@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(
    180deg,
    #cdcdcd 0%,
    rgba(218, 218, 218, 0.02) 50%,
    rgba(29, 38, 122, 0.37) 100%
  );

  animation: gradient 15s ease infinite;
}

h1 {
  font-family: "Inter", sans-serif;
}

.icon-position {
  position: fixed;
  bottom: 40px;
  right: 25px;
  z-index: 20;
}
.icon-style {
  background-color: #5c6bc0;

  border: 2px solid #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: #fff;
  cursor: pointer;
  animation: movebtn 3s ease-in-out infinite;
  transition: all 0.5s ease-in-out;
}
.icon-style:hover {
  animation: none;
  background: #fff;
  color: #f2b8b8;
  border: 2px solid#f2b8b8;
}
@keyframes movebtn {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

#OutlineMenu:hover {
  background-color: #eeeeee;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  color: #f2b8b8;
  transform: scale(1.7);
  transition: all 0.2s ease-in-out;
  padding: 5px;
  border: 1px solid #f2b8b8;
  cursor: pointer;
}

.buttonNav:hover {
  color: white !important;
}

a {
  text-decoration: none;
  color: black;
}

header,
footer {
  background-color: white;
  padding: 20px 30px;
  position: relative;
}

.lien-icone img {
  margin-left: 30px;
}

.lien-icone img:hover {
  opacity: 0.5;
}

.logo {
  padding-left: 30px;
}

/* Media Queries */
